*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --bg-color: #ffffff;
    --main-color:#4b9e22;
    --text-color:#000000;
    --other-color:#83868c;
    --second-color:#d9d9d9;
    --orange--:orange;

    --h1-font: 2.5rem;
    --h2-font:2.3rem;
    --p-font:20px;
}

